@tailwind base;
@tailwind components;
@tailwind utilities;

/*fonts*/
@font-face {
  font-family: "Aspekta";
  src: url("/fonts/Aspekta.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-glass {
  /* From https://css.glass */
  background: #ffffff21;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/*Loading*/

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: #cdcabb;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.02);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* Theme - Indigo Emerald */
.theme-indigo-emerald {
  --primary: #f9fafb;
  --secondary: #a1a7f7;
  --thrid: #4f46e5;
  --fourth: #3531a3;
}

/* Theme - Coral Lavender */
.theme-coral-lavender {
  --primary: #f8ede3;
  --secondary: #f1bba4;
  --thrid: #ff7e67;
  --fourth: #cc5a43;
}

/* Theme - Ocean Breeze */
.theme-ocean-breeze {
  --primary: #caf0f8;
  --secondary: #80c8da;
  --thrid: #0077b6;
  --fourth: #005a80;
}

/* Theme - Sunset Glow */
.theme-sunset-glow {
  --primary: #ffcad4;
  --secondary: #ff9fa1;
  --thrid: #ff9f1c;
  --fourth: #c67214;
}

/* Theme - Dark Mode */
.theme-dark {
  --primary: #ffffff;
  --secondary: #6c6b6b;
  --thrid: #4a4848;
  --fourth: #0a0a0a;
}

/* Theme - Matrix */
.theme-matrix {
  --primary: #00ff00;
  --secondary: #80ff80;
  --thrid: #025202;
  --fourth: #001f00;
}

/* Theme - Cyberpunk Neon */
.theme-cyberpunk-neon {
  --primary: #ff99bb;
  --secondary: #ff6699;
  --thrid: #ff0055;
  --fourth: #cc0044;
}

/* Theme - Solarized */
.theme-solarized {
  --primary: #fdf6e3;
  --secondary: #d5e4ff;
  --thrid: #268bd2;
  --fourth: #1e6bb8;
}

/* Theme - Mellow Mint */
.theme-mellow-mint {
  --primary: #e0f7fa;
  --secondary: #b2dfdb;
  --thrid: #004d40;
  --fourth: #002e28;
}

/* Theme - Midnight Sky */
.theme-midnight-sky {
  --primary: #0c1b2b;
  --secondary: #f9b84b;
  --thrid: #00c8d8;
  --fourth: #009da3;
}

/* Theme - Rosewood */
.theme-rosewood {
  --primary: #f9c8d1;
  --secondary: #f2a0a1;
  --thrid: #8b4f4f;
  --fourth: #5e3333;
}

/* Theme - Tropical Breeze */
.theme-tropical-breeze {
  --primary: #f0e68c;
  --secondary: #ffdb58;
  --thrid: #ff6347;
  --fourth: #e23d32;
}

/* Theme - Urban Jungle */
.theme-urban-jungle {
  --primary: #9dbe8b;
  --secondary: #7fae70;
  --thrid: #468f6f;
  --fourth: #2e6d55;
}

/* Theme - Lime Crush */
.theme-lime-crush {
  --primary: #a9e34b;
  --secondary: #ffcc5c;
  --thrid: #ff4c00;
  --fourth: #e03600;
}

/* Theme - Cherry Blossom */
.theme-cherry-blossom {
  --primary: #f9e2e2;
  --secondary: #f3c1c6;
  --thrid: #ff9b9b;
  --fourth: #cc6e6e;
}

/* Theme - Neon Purple */
.theme-neon-purple {
  --primary: #c8a0ff;
  --secondary: #9a6eff;
  --thrid: #d500f9;
  --fourth: #a300d3;
}

/* Theme - Golden Hour */
.theme-golden-hour {
  --primary: #ffcc00;
  --secondary: #ffb600;
  --thrid: #ff7800;
  --fourth: #e86000;
}

/* Theme - Obsidian Night */
.theme-obsidian-night {
  --primary: #353535;
  --secondary: #252525;
  --thrid: #ffcc00;
  --fourth: #b39200;
}

/* Theme - Midnight Noir */
.theme-midnight-noir {
  --primary: #333333;
  --secondary: #484848;
  --thrid: #f05454;
  --fourth: #d13f3f;
}

/* Theme - Eclipse */
.theme-eclipse {
  --primary: #4e4e4e;
  --secondary: #3a3a3a;
  --thrid: #ff4500;
  --fourth: #cc3700;
}

/* Theme - Shadow Realm */
.theme-shadow-realm {
  --primary: #1e1e1e;
  --secondary: #3a3a3a;
  --thrid: #58a6ff;
  --fourth: #387bb5;
}

/* Theme - Dark Nebula */
.theme-dark-nebula {
  --primary: #301d5f;
  --secondary: #6b3fb0;
  --thrid: #9400d3;
  --fourth: #6600a3;
}

/* Theme - Red Black */
.theme-red-black {
  --primary: #ff0000;
  --secondary: #8c0000;
  --thrid: #9d0000;
  --fourth: #520202;
}


.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  width: max-content;
  position: absolute;
  bottom: 125%; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}
